@font-face {
  font-family: 'icomoon';
  src:  url('/icons/icomoon.eot?5mp4i2');
  src:  url('/icons/icomoon.eot?5mp4i2#iefix') format('embedded-opentype'),
    url('/icons/icomoon.ttf?5mp4i2') format('truetype'),
    url('/icons/icomoon.woff?5mp4i2') format('woff'),
    url('/icons/icomoon.svg?5mp4i2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-circle:before {
  content: "\e900";
}
.icon-alert-octagon:before {
  content: "\e901";
}
.icon-alert-triangle:before {
  content: "\e902";
}
.icon-archive:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-at-sign:before {
  content: "\e908";
}
.icon-award:before {
  content: "\e909";
}
.icon-bell:before {
  content: "\e90a";
}
.icon-bell-off:before {
  content: "\e90b";
}
.icon-bookmark:before {
  content: "\e90c";
}
.icon-box:before {
  content: "\e90d";
}
.icon-briefcase:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90f";
}
.icon-camera:before {
  content: "\e910";
}
.icon-check:before {
  content: "\e911";
}
.icon-chevron-down:before {
  content: "\e912";
}
.icon-chevron-left:before {
  content: "\e913";
}
.icon-chevron-right:before {
  content: "\e914";
}
.icon-chevron-up:before {
  content: "\e915";
}
.icon-circle:before {
  content: "\e916";
}
.icon-clipboard:before {
  content: "\e917";
}
.icon-credit-card:before {
  content: "\e918";
}
.icon-disc:before {
  content: "\e919";
}
.icon-dollar-sign:before {
  content: "\e91a";
}
.icon-download:before {
  content: "\e91b";
}
.icon-droplet:before {
  content: "\e91c";
}
.icon-edit:before {
  content: "\e91d";
}
.icon-external-link:before {
  content: "\e91e";
}
.icon-eye:before {
  content: "\e91f";
}
.icon-file:before {
  content: "\e920";
}
.icon-file-text:before {
  content: "\e921";
}
.icon-filter:before {
  content: "\e922";
}
.icon-flag:before {
  content: "\e923";
}
.icon-folder:before {
  content: "\e924";
}
.icon-frown:before {
  content: "\e925";
}
.icon-grid:before {
  content: "\e926";
}
.icon-heart:before {
  content: "\e927";
}
.icon-help-circle:before {
  content: "\e928";
}
.icon-home:before {
  content: "\e929";
}
.icon-image:before {
  content: "\e92a";
}
.icon-info:before {
  content: "\e92b";
}
.icon-link-2:before {
  content: "\e92c";
}
.icon-list:before {
  content: "\e92d";
}
.icon-lock:before {
  content: "\e92e";
}
.icon-mail:before {
  content: "\e92f";
}
.icon-map-pin:before {
  content: "\e930";
}
.icon-meh:before {
  content: "\e931";
}
.icon-menu:before {
  content: "\e932";
}
.icon-message-circle:before {
  content: "\e933";
}
.icon-message-square:before {
  content: "\e934";
}
.icon-minus:before {
  content: "\e935";
}
.icon-more-horizontal:before {
  content: "\e936";
}
.icon-more-vertical:before {
  content: "\e937";
}
.icon-navigation:before {
  content: "\e938";
}
.icon-paperclip:before {
  content: "\e939";
}
.icon-phone:before {
  content: "\e93a";
}
.icon-play:before {
  content: "\e93b";
}
.icon-plus:before {
  content: "\e93c";
}
.icon-printer:before {
  content: "\e93d";
}
.icon-search:before {
  content: "\e93e";
}
.icon-send:before {
  content: "\e93f";
}
.icon-settings:before {
  content: "\e940";
}
.icon-shield:before {
  content: "\e941";
}
.icon-sliders:before {
  content: "\e942";
}
.icon-smile:before {
  content: "\e943";
}
.icon-star:before {
  content: "\e944";
}
.icon-tag:before {
  content: "\e945";
}
.icon-thumbs-down:before {
  content: "\e946";
}
.icon-thumbs-up:before {
  content: "\e947";
}
.icon-toggle-left:before {
  content: "\e948";
}
.icon-toggle-right:before {
  content: "\e949";
}
.icon-trash-2:before {
  content: "\e94a";
}
.icon-unlock:before {
  content: "\e94b";
}
.icon-user:before {
  content: "\e94c";
}
.icon-user-plus:before {
  content: "\e94d";
}
.icon-users:before {
  content: "\e94e";
}
.icon-x:before {
  content: "\e94f";
}
